* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: coral;
  padding: 1rem;
}